.DS_Store
.cache_ggshield
.localstack

node_modules/
bower_components/
dist/
tmp/
log/
vendor/
coverage/

.sass-cache/
.tmp/
.idea/
.kube/
.vscode/
.localstack/

*~
*.sw*
*.lock
yarn.*

npm-debug.log
local.json

.release.env
__pycache__

*.local
*.log*
package-lock.json
**/package-lock.json

